.modal_form_buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1rem;
  width: 40%;
  justify-content: space-evenly;
}

.modal_item_name {
  font-size: 1.2rem;
  font-weight: 400;
}

.item {
  display: flex;
  flex-direction: row;
  /* margin-top: 0.2rem; */
  padding: 0.5rem;
  justify-content: space-between;
}
