.signup_form_container {
  height: 500px;
  width: 300px;
  margin-top: 5rem;
  padding: 1rem;
}

.sign_up {
  color: #ddd;
}
.login_button {
  margin-left: 1rem;
}
.signup_logo {
  width: 200px;

  margin-bottom: -2rem;
  border-radius: 0.5rem;
  margin-top: -1.5rem;
}
